/* 🔵 Blue → Red (Cool to Warm)

background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    box-shadow: 0 0 20px #00ffff, 0 0 40px #8000ff, 0 0 60px #ff0055;

*/


.video-bg{
    z-index: -20;
}


.ufo {
    position: absolute;
    width: 100px;
    height: 100px;
    pointer-events: none;
    transition: transform 0.1s;
    z-index: -1;

}


*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    
}

.video-bg {
    position: fixed;
    width: 100%;
    height: 100%;
    object-fit: cover;
    z-index: -1;

}

body{
    background: #080808;
    color: #fff;
}

#header{
    width: 100%;
    height: 100vh;
    /* background-image: url(); */
    background-size: cover;
    background-position: center;

}


#top-banner-list{
    position: fixed;
    right: 0;
    margin-right: 5px;
}

.lodo {
    text-decoration: none;
}

#Soumyo_o{
    /* position: fixed; */
    font-size: 150%;
    background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

#occup{
    font-size: 20px;
    font-weight: lighter;
    color: #fff;
}

nav ul{
    z-index: 10;
    display: block;
}

nav ul li{
    display: block;
    list-style: none;
    margin: 70px 20px;
    font-weight: 500;
    font-size: 20px;
}

nav ul li a{
    color: #fff;
    text-decoration: none;
    position: relative;
}

nav ul li a:hover{
    border-radius: 2px;
    text-shadow: 
    0 0 20px #00ffff, 
    0 0 40px #00ffff,  
    0 0 60px #8000ff, 
    0 0 80px #8000ff,  
    0 0 100px #ff0055,
    0 0 120px #ff0055;
    transition: 0.5s;
}

nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    position: absolute;
    border-radius: 20px;
    background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    box-shadow: 0 0 20px #00ffff, 0 0 40px #8000ff, 0 0 60px #ff0055;
    left: 0;
    bottom: -10px;
    transition: 0.5s;
}

nav ul li a:hover::after{
    width: 100%;
}

.header-text{
    margin-top: 30%;
    font-size: 30px;
}

@keyframes fadeInLeftToRight {
    from {
      opacity: 0;
      transform: translateX(-100%);
    }
    to {
      opacity: 1;
      transform: translateX(0);
    }
  }
  
  .header-text{
    opacity: 0;
    animation: fadeInLeftToRight 1s ease-out forwards;
  }
  


#name{
    background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

/* ------------------about------------- */

#about{
    margin-left: -65px;
}

#about{
    padding: 90px;
    color: #ababab;
}

.paragraph{
    color: #c8c8c8;
}

.container{
    padding: 10px 10%;
}

.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.about-col-1{
    flex-basis: 35%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}

@property --angle{
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.about-col-1::after, .about-col-1::before{
    content: " ";
    position: absolute;
    border-radius: 20px;
    height: 100%;
    width: 100%;
    background: conic-gradient(from var(--angle), #00ffff, #8000ff, #ff0055,#00ffff);
    top: 50%;
    left: 50%;
    translate: -50% -50%;
    padding: 5px;
    z-index: -1;
    animation: 3s spin linear infinite;
}

.about-col-1::before{
    filter: blur(1.5rem);
    opacity: 0.5;
}

@keyframes spin{
    from{
        --angle: 0deg;
    }
    to{
        --angle: 360deg;
    }
}


.about-col-1 img{
    width: 100%;
    border-radius: 15px;
}


.about-col-2{
    flex-basis: 60%;
}

.sub-title{
    font-size: 60px;
    font-weight: 600;
    background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-titles{
    display: flex;
    margin: 20px 0 40px;
}

.tab-links{
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after{
    content: '';
    width: 0;
    height: 3px;
    border-radius: 20px;
    position: absolute;
    background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    left: 0;
    bottom: -5px;
    transition: 0.5s;
}

.tab-links.active-link::after{
    width: 100%;
}

.tab-contents ul li{
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span{
    background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.tab-contents{
    display: none;
}

.tab-contents.active-tab{
    display: block;
}

/* --------------services---------------- */

#services{
    padding: 30px 0;
}

.services-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.services-list div p{
    color: #ababab;
    font-size: 14px;
}

.services-list div{
    background: #262626;
    padding: 40px;
    font-size: 13px;
    border-radius: 10px;
    font-weight: 300;
    transition: background 0.5s, transform 0.5s;
}

.services-list div i{
    font-size: 50px;
    margin-bottom: 30px;
}

.services-list div h2{
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 15px;
}

.services-list div a{
    text-decoration: none;
    color: #fff;
    font-size: 12px;
    margin-top: 20px;
    display: inline-block;
}

.services-list div:hover{
    background: #8000ff;
    transform: translateY(-10px);
    color: #fff;
}

.services-list div:hover p{
    color: #fff;
}



/* -----------------portfolio------------- */
#portfolio{
    padding:50px 0;
}

.work-list{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(250px,1fr));
    grid-gap: 40px;
    margin-top: 50px;
}

.work{
    border-radius: 10px;
    position: relative;
}

.work img{
    width: 100%;
    border-radius: 10px;
    display: block;
    transition: transform 0.5s;
}

.layer{
    width: 100%;
    height: 0;
    background: linear-gradient(rgba(0,0,0,0.6),#8000ff);
    border-radius: 10px;
    position: absolute;
    left:0;
    bottom: 0;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 40px;
    text-align: center;
    font-size: 14px;
    scale: 1.1;
    transition: height 0.5s;
}

.layer h3{
    font-weight: 500;
    margin-bottom: 20px;
}

.layer a{
    margin-top: 20px;
    color: #ff0055;
    text-decoration: none;
    font-size: 18px;
    line-height: 60px;
    background: #fff;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    text-align: center;
}

.work:hover img{
  transform: scale(1.1);
}

.work:hover .layer{
    height: 100%;
}

.btn{
    display: block;
    margin: 50px auto;
    width: fit-content;
    border: 1px solid #00ffff;
    padding: 14px 50px;
    border-radius: 6px;
    text-decoration: none;
    color: #fff;
    transition: opacity 1s, box-shadow 0.5s;
    opacity: 0.6;
}

.btn:hover{
    box-shadow: 0 0 20px #00ffff, 0 0 40px #8000ff, 0 0 60px #ff0055;
    opacity: 1;
}

/* ---------------contact---------------- */

#contact{
    z-index: 2;
}

.contact-left{
    flex-basis: 35%;
}

.contact-right{
    flex-basis: 60%;
}

.contact-left a{
    text-decoration: none;
    color: #fff;
}

.contact-left p{
    margin-top: 30px;
    transition: scale 0.3s;
}

.contact-left p:hover{
    scale: 1.1;
}

.contact-left p i{
    color:#8000ff ;
    margin-right: 15px;
    font-size: 25px;

}

.social-icons{
    margin-top: 30px;
}

.social-icons a{
    text-decoration: none;
    font-size: 30px;
    margin-right: 15px;
    display: inline-block;
    color: #ababab;
    transition: transform 0.5s;
}

.social-icons a:hover{
    color: #8000ff;
    transform: translateY(-5px);
}

@property --angle {
    syntax: "<angle>";
    initial-value: 0deg;
    inherits: false;
}

.cv-btn {
    margin-top: 30px;
    position: relative;
    display: inline-block;
    padding: 20px 37px;
    font-size: 15px;
    font-weight: bold;
    color: #fff;
    border-radius: 10px;
    text-decoration: none;
    overflow: hidden;
    z-index: 1;
    transition: scale 0.3s;
}

.cv-btn::after,
.cv-btn::before {
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    width: 120%;
    height: 120%;
    border-radius: 10px;
    background: conic-gradient(from var(--angle), #00ffff, #8000ff, #ff0055, #00ffff);
    translate: -50% -50%;
    z-index: -1;
    animation: spin 3s linear infinite;
}

@keyframes spin {
    from {
        --angle: 0deg;
    }
    to {
        --angle: 360deg;
    }
}

.cv-btn:hover{
    scale: 1.1;
}

.contact-right form{
    width: 100%;
}

.contact-right form input, form textarea{
width: 100%;
border: 0;
outline: none;
background: #262626;
margin: 15px 0;
padding: 15px;
color: #fff;
font-size: 18px;
border-radius: 6px;
}


.submit-btn{
    padding: 12px 27px;
    border-radius: 10px;
    background: #8000ff;
    color: #fff;
    cursor: pointer;
}

.copyright{
    width: 100%;
    text-align: center;
    padding: 25px 0;
    background: #262626;
    font-weight: 300;
    margin-top: 20px;
}




/* -------------css  for smartphone----------- */

#bars{
    display: none;
}



@media only screen and (max-width:450px){

    .ufo{
        height: 70px;
        width: 70px;
    }

    .header-text{
        margin-top: 100%;
        font-size: 16px;
    }

    .header-text h1{
        font-size: 40px;
        
    }

    #homeload{
        font-size: 20px;
    }

    #bars{
        display: block;
        font-size: 30px;
    }

    #top-banner-list{
        background: #8000ff;
        position: fixed;
        top: 0;
        right: -200px;
        margin-top: -8px;
        margin-right: -8px;
        width: 160px;
        height: 1000vh;
        padding-top: 50px;
        z-index: 5;
        transition: right 0.3s;
    }

    i#bars.fa-solid.fa-bars.bar3{
        position: fixed;
        z-index: 3;
        margin-left: 80vw;
    }

    i#bars.fa-solid.fa-xmark.bar2{
        margin-left: 28vw;
        margin-top: 1.5vh;
    }

    
    nav ul li{
        display: block;
        margin: 25px;
        padding: 10px;
        font-size: 15px;
    }

    #bars{
        position: absolute;
        left: 25px;
        top: 25px;
        cursor: pointer;
    }

    .sub-title{
        font-size: 40px;
    }

    .about-col-1 , .about-col-2{
        flex-basis: 100%;
    }

    .about-col-1{
        margin-bottom: 30px;
    }

    .about-col-2{
        font-size: 14px;
    }

    .tab-links{
        font-size: 16px;
        margin-right: 20px;
    }

    .contact-left, .contact-right{
        flex-basis: 100%;
    }

    .copyright{
        font-size: 14px;
    }

}

/* -----------------laod screen------------------ */

/* #preloader{
    background: #000 url(images/loader\ gif.gif) no-repeat center center;
    height: 100vh;
    background-size: 15%;
    width: 100%;
    position: fixed;
    z-index: 100;
} */







/* 🔵 Blue → Red (Cool to Warm)

background: linear-gradient(90deg, #00ffff, #8000ff, #ff0055);
    box-shadow: 0 0 20px #00ffff, 0 0 40px #8000ff, 0 0 60px #ff0055;

*/

/* Soumyo_o */